body {
    color: rgb(22, 16, 16);
    background-color:rgb(237, 164, 100);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(20, 14, 14);
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:solid #986109;
}

.center {
    text-align: center;
}

h1 {
    color: #09050c;
}

h3 {
    color: #09050c;
    font-size: 40px;
}

footer img { 
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #15091d;
}

.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: rgb(106, 60, 4);
    background-color: rgb(19, 14, 14);
    border: none;
    width: 100px;
    height: 30px;
}